<!doctype html>

<html lang="{{ it.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="theme-color" content="hsl(220, 20%, 100%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(220, 20%, 10%)" media="(prefers-color-scheme: dark)">
    
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/rafty64.webp">
    <link rel="canonical" href="{{ url |> url(true) }}">
    <script src="/js/main.js" type="module"></script>
    {{ it.extra_head?.join("\n") }}
  </head>
  <body>
  <nav class="navbar">
      <ul class="navbar-links">
        <li>
        <script>
          let theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
          document.documentElement.dataset.theme = theme;
          function changeTheme() {
            theme = theme === "dark" ? "light" : "dark";
            localStorage.setItem("theme", theme);
            document.documentElement.dataset.theme = theme;
          }
        </script>
        <button class="button" onclick="changeTheme()">
          <span class="icon">◐</span>
        </button>
      </li>
      </ul>
    </nav>

    
    <main>
    <a href="/index.html">index</a>
      {{ content }}
    </main>

    <!-- Current page: {{ url }} -->
  </body>
</html>